.salvation-container {
    position:relative;
    width:100%;
}

.salvation-active {
    box-shadow: 0 0 8px #de1212;
    outline:none;
}

.salvation-box {
    display:    inline-table;
    margin:     0 0 0 5px;
    position:   absolute;
    z-index:    99;
    top:        100%;
    left:       0;
}

.salvation-box.left {
    top:    0;
    left:   0;
}

.salvation-box.right {
    top:    0;
    left:   100%;
}

.salvation-box.bottom {
    top:    0;
    left:   0;
}

.salvation-arrow {
    width:  0;
	height: 0;
    margin: auto;
}

.salvation-arrow.top,
.salvation-arrow.bottom {
    border-left:    12px solid transparent;
    border-right:   12px solid transparent;
    vertical-align: top;
}

.salvation-arrow.top {
    border-bottom:  12px solid #de1212;
}

.salvation-arrow.bottom {
    border-top:     12px solid #de1212;
}

.salvation-arrow.right,
.salvation-arrow.left {
    border-top:     12px solid transparent;
    border-bottom:  12px solid transparent;
    vertical-align: middle;
    display: inline-block;
}

.salvation-arrow.left {
    border-left:    12px solid #de1212;
}

.salvation-arrow.right {
    border-right:   12px solid #de1212;
}

.salvation-label {
    background:#de1212;
    color: #FFFFFF;
    padding:8px;
    width:auto;
    cursor:pointer;
}

.salvation-label.right,
.salvation-label.left {
    display:inline-block;
}
