#dragify-window {
    background:     #FFFFFF;
    border:         1px solid #CCCCCC;
    border-radius:  5px;
    box-shadow:     1px 1px 10px #AAAAAA;
    font-family:    'Raleway', sans-serif;
    position:       fixed;
    top:            30%;
    left:           30%;
    width:          300px;
}

.dragify-window-header {
    color:          #222222;
    font-family:    'Raleway', sans-serif;
    font-size:      19px;
    padding:        20px 20px 0 20px;
    text-align:     center;
}

.dragify-window-body {
    color:      #333333;
    font-size:  13px;
    padding:    20px 30px 30px 30px;
    text-align: center;
}

.dragify-window-body > img {
    width:      64px;
}

.dragify-window-footer {
    background:     #666;
    border-radius:  0 0 5px 5px;
    color:          #FFFFFF;
    text-align:     right;
}

.dragify-window-button {
    background:     #119955;
    border-radius:  0 0 5px 0px;
    cursor:         pointer;
    font-weight:    bold;
    margin:         0 0 0 auto;
    padding:        10px;
    text-align:     center;
    width:          20%;
}

.dragify-window-button:hover {
    background: #11BB55;
}

.dragify-window-button:active {
    box-shadow: inset 1px 1px 10px #119955;
}
